body {
    background-color: rgb(230, 231, 231);
}

.home {
    text-decoration: none;
    width: 92%;
    height: 550px;
    display: inline-block;
    margin-top: 40px;
    background-color: #FFFFFF;
    padding: 20px;
    margin: 37px;
    border-radius: 5px;
    box-shadow: rgba(112, 111, 111, 0.35) 0px 5px 10px;
}

.home h2 {
    margin-left: 20px;
    color: #56585a;
}

.navbar {
    display: inline-block;
    margin-right: 45px;
    float: left;
}

.myMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 175px;
}

.menu {
    text-align: left;
    border: none;
    background-color: #FFFFFF;
    display: block;
    color: #5F6368;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 5px;

    white-space: nowrap;
    width: 175px;
    overflow: hidden;
    text-overflow: ellipsis;
}

li button.active {
    float: left;
    border: none;
    background-color: #E8F0FE;
    color: #3D73E8;
    border-radius: 5px;
    width: 175px;
    border-left: 5px solid #3D73E8;
}

li button:hover:not(.active) {
    background-color: #E8F0FE;
    color: #3D73E8
}

.myProducts {
    display: inline-block;
}

.products {
    float: left;
    padding: 10px;
    box-shadow: rgba(80, 80, 80, 0.35) 0px 4px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.product a img {
    border-radius: 5px;
    width: 100%;
    height: 200px;
}

.product h4 {
    margin: 10px;
    overflow: hidden;
    line-height: 20px;
    display: -webkit-box;
    width: 200px;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 40px;
    color: #404244;
}

.product h5 {
    background-color: rgb(230, 231, 231);
    font-size: 25px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #404244;
}
.shippingFee{
    display: none;
}
.shippingFee h6{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 0px;
    color: #404244;
    margin-bottom: 10px;
}
.shippingFee h6 i {
    color: green;
    font-size: 17px;
    margin-right: 5px;
}
.bosluk{
    display: none;
    font-size:12px;
}

.sepeteEkle {
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    background-color: #3D73E8;
    padding: 12px;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 0px;
}

.sepeteEkle:hover {
    background-color: #3b6cd4;
    box-shadow: 2px;
}

.prev,
.next {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 8px;
    padding: 16px;
    background-color: #FFFFFF;
    border: 1px solid rgba(80, 80, 80, 0.35);
    top: 200px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
}

.prev {
    border-left: 1px solid #FFFFFF;
    border-radius: 0px 60px 60px 0px;
    margin-left: 9px;
}

.next {
    margin-bottom: 900px;
    right: 45px;
    border-radius: 60px 0px 0px 60px;
    border-right: 1px solid #FFFFFF;

}

.prev:hover,
.next:hover {
    background-color: rgba(216, 216, 216, 0.8);
    color: white;
    border: 1px solid rgba(216, 216, 216, 0.8);
}

.alert{
    z-index: 1;
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgb(48, 48, 48);
    width: 420px;
    border-radius: 10px;
}
.alert i{
    float: left;
    margin-top: 25px;
    margin-left: 20px;
    font-size:40px;
    color: rgb(78, 167, 84);  
}
.alert .text{
    margin-left: 12px;
    margin-top: 2px;
    float: left;
}
.alert h3{
    color: #FFFFFF;
    margin-bottom: 0px;
}
.alert a{
    text-decoration: none;
    font-size:19px;
    color: rgb(106, 106, 148);
    margin-top: 0px;
}

.closebtn {
    color: white;
    font-weight: bold;
    float: right;
    font-size: 40px;
    line-height: 90px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 15px;
}
.closebtn:hover {
    color: black;
}